
<section class="page-header" [efClassResponsiveContainer]>

    <ef-class-image class="image"
        [url]="imageUrl"
        [fallbackSeed]="fallbackSeed"
        [fallbackColor]="fallbackColor"
        [size]="size">
    </ef-class-image>

    <ef-class-overlay-color class="overlay"
        [color]="overlayColor">
    </ef-class-overlay-color>

    <div class="content">

        <div class="top-slot">
            <ng-content select=".page-header-top-slot"></ng-content>
        </div>

        <div class="title-container" *ngIf="title">
            <span class="title">{{title}}</span>
        </div>

        <div class="content-slot">
            <ng-content select=".page-header-content-slot"></ng-content>
        </div>

    </div>

</section>
